body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#usernameBox input {
    padding: 5px;
}

#usernameBox button {
    padding: 6px 10px;
}

#createPost {
    background: white;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
}

#postText {
    width: 100%;
    height: 80px;
    padding: 10px;
}

.post {
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
}

.likeBtn {
    cursor: pointer;
    color: #e63946;
    font-size: 20px;
}

.commentBox {
    margin-top: 10px;
}

.commentBox input {
    width: 80%;
    padding: 5px;
}